# Project exclude paths
/foodie-api/target/
/foodie-common/target/
/foodie-mapper/target/
/foodie-pojo/target/
/foodie-service/target/
/mybatis-generator/target/
/.idea/
/mybatis-generator/.idea/
.DS_Store